---
---

/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/

@import "reset";

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$base-font-color: #4A4A4A;
$blue-medium: #3575c0;
$blue-dark: #30527a;
$grey-light: #f3f3f3;
$grey-medium: #ababab;
$grey-dark: #202020;
$yellow-light: #FFFECA;

/*------------------------------------*\
    #FONT-EXTENDS
\*------------------------------------*/

 .regular {
     font-family: "Apercu Regular", Calibri, sans-serif;
     font-size-adjust: 0.508;
     font-weight: normal;
     font-style: normal;
 }

 .medium {
     font-family: "Apercu Medium", Calibri, sans-serif;
     font-size-adjust: 0.508;
     font-weight: 600;
     font-style: normal;
 }

 .bold {
     font-family: "Apercu Bold", Calibri, sans-serif;
     font-size-adjust: 0.508;
     font-weight: bold;
     font-style: normal;
 }

/*------------------------------------*\
    #TYPE
\*------------------------------------*/

body {
    @extend .regular;
    font-size: 18px;
    line-height: 1.5;
    color: $base-font-color;
}

p {
    margin-bottom: 1.5em;
}

/*------------------------------------*\
    #LINKS-BUTTONS
\*------------------------------------*/

a {
    color: $blue-medium;
    text-decoration: none;
}

// @import "highlights"; 