<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
        {% include meta.html %}
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
        <!-- Fontdeck -->
        <script type="text/javascript">
        WebFontConfig = { fontdeck: { id: '56445' } };

        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
        </script>
    </head>
    <body>
        <div class="sidebar">
            <a href="{{ site.baseurl }}/" title="Back to homepage" class="logo-link">
                <img src="/images/logo.svg" />
            </a>
            <nav class="site-nav">
                <ul>
                    <li><a href="{{ site.baseurl }}/about">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/describing">About / Hire</a></li>
                    <li><a href="{{ site.baseurl }}/writing">Archive</a></li>
                </ul>
            </nav>
            <div class="sidebar-bottom">
                <p><img src="/images/avatar.jpg" class="sidebar-avatar" /></p>
                <p class="sidebar-desc">I'm a designer based in London, UK</p>
                <p>
                    <a href="#" class="social-icon"><img src="/images/icon-twitter.svg" /></a>
                    <a href="#" class="social-icon"><img src="/images/icon-instagram.svg" /></a>
                    <a href="#" class="social-icon"><img src="/images/icon-dribbble.svg" /></a>
                </p>
            </div>
        </div>
        <div class="grid grid-pad">
            <div class="col-1-1" role="main">
                {{ content }}
            </div>
        </div>
        {% include analytics.html %}
    </body>
</html>
